.navRef {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-size);
  opacity: 1;
  pointer-events: none;
}

@media only screen and (max-width: 850px) {
  .headerContainer {
    width: 95%;
  }
}

.header {
  font-size: 10rem;
  padding: 0;
  margin: 0;
  display: inline;
  line-height: 10rem;
  color: rgb(212, 212, 212);
  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width: 850px) {
  .header {
    font-size: 6rem;
    padding: 0 40px;
    line-height: 6rem;
  }
}

.headerSubContainer {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.sectionLinks {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.sub {
  font-weight: bold;
  text-transform: uppercase;
}

.imageContainer {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.image {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 600px;
  filter: brightness(0.5);
  object-fit: cover;
  opacity: 1;
}

.imageBlur {
  position: absolute;
  z-index: -2;
  width: 400px;
  height: 600px;
  filter: blur(20px);
  object-fit: cover;
}

.gradient {
  min-width: 100%;
  height: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(
    0deg,
    black 1%,
    rgba(0, 0, 0, 0)
  ); /* FF 3.6+ */
  background: -ms-linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0)); /* IE10 */
  background: -webkit-gradient(
    0deg,
    black 1%,
    rgba(0, 0, 0, 0)
  ); /* Safari 4+, Chrome 2+ */
  background: -o-linear-gradient(
    0deg,
    black 1%,
    rgba(0, 0, 0, 0)
  ); /* Opera 11.10 */
  background: linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0));
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.video {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.85);
  object-fit: cover;
  opacity: 1;
  overflow: hidden;
}
