/*% Sections */

.outer {
  width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 10px 75px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: var(--bg-portfolio);
  border: var(--border-portfolio);
  opacity: 1;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.068);
}

@media only screen and (max-width: 1050px) {
  .sectionContainer {
    padding: 80px 30px;
    height: fit-content;
    align-items: center;
  }
}
.subContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 0;
  }
}

/*& Info Section */

.infoContainer {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 5rem;
}

.subHeader {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.description {
  margin-top: 25px;
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-family: haas-roman;
}

/*@ Buttons */

.linksContainer {
  display: flex;
  margin: 25px 0;
  gap: 20px;
}

.button {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 13px;
  background-color: transparent;
  color: var(--font-color-one);
  border: var(--btn-border-portfolio);
  transition: color 0.25s, box-shadow 0.5s;
}

.live {
  background-color: var(--btn-bg-portfolio-live);
  color: var(--btn-color-portfolio-live);
}

.button:hover {
  background: -webkit-linear-gradient(
    45deg,
    #2d4de0 0,
    #9f71f0 30%,
    #fc6277 58%,
    #dfbe77 95%
  );
  color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 7px 1px rgba(255, 122, 122, 0.2);
  background-size: 100% 800%;
  animation: gradientMove 5s ease infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/*# image */

.link {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.link > div {
  overflow: hidden;
}

.link > div > img:hover {
  transform: scale(1.05);
}
