/*& PORTFOLIO */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 20px;
  }
}

.headerContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0 0 50px 0;
}

@media only screen and (max-width: 850px) {
  .headerContainer {
    justify-content: center;
  }
}

.header {
  display: flex;
  opacity: 1;
  font-size: 8rem;
}

.headerContainer p {
  font-size: 8rem;
  transform: translateY(100vh);
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
