.headerContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0px 0 25px 0;
}

.header {
  font-size: 8rem;
}

@media only screen and (max-width: 850px) {
  .headerContainer {
    justify-content: center;
  }
}
