.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 0 100px 0;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .container {
    justify-content: flex-start;
    height: 300px;
  }
}

.email {
  font-size: 4rem;
  color: var(--font-color-one);
  transition: color 0.5s;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.email:hover {
  color: var(--color-hover);
}

@media only screen and (max-width: 850px) {
  .email {
    font-size: 3rem;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.socialIcon {
  font-size: 4rem;
  cursor: pointer;
}

.socialIcon:hover {
  color: var(--color-hover);
}
