.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 20px;
  }
}

.sectionContainer {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}
@media only screen and (max-width: 1050px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  transform: translateY(-80px);
}

@media only screen and (max-width: 850px) {
  .imageContainer {
    justify-content: center;
  }
}

.image {
  width: 100%;
  max-width: 600px;
  filter: brightness(0.8);
  /* animation: rotate 20s infinite linear; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.summary {
  font-family: haas-roman;
  font-size: 1.7rem;
  line-height: 30px;
}

.link {
  font-family: haas-roman;
  font-size: 1.7rem;
  text-decoration: underline;
}
