.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 20px;
  }
}

.inner {
  max-width: var(--max-size);
}

.sectionContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1050px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}

.imageGradient {
  width: 100%;
  position: absolute;
  /* animation: rotate 20s infinite linear; */
  transform: scale(1.5);
  border: 1px solid red;
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  transform: translateY(-11vw);
  z-index: -5;
  position: relative;
}

@media only screen and (max-width: 1050px) {
  .imageContainer {
    justify-content: center;
  }
}

.image {
  width: 100%;
  position: absolute;
  /* animation: rotate 20s infinite linear; */
  transform: scale(1.5);
  filter: var(--about-filter);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.summary {
  font-family: haas-roman;
  font-size: 1.9rem;
  line-height: 30px;
}

.link {
  font-family: haas-roman;
  font-size: 1.7rem;
  text-decoration: underline;
}
