@font-face {
  font-family: 'harmond';
  src: url('./assets/fonts/harmond/Harmond-SemiBoldCondensed.otf');
}

@font-face {
  font-family: 'harmond-italic';
  src: url('./assets//fonts/harmond/Harmond-SemBdItaCond.otf');
}

@font-face {
  font-family: 'magilio';
  src: url('./assets/fonts/magilio/MagilioRegular-Yzv2O.ttf');
}

html {
  background-color: black;
}

* {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  color: white;
}

.hero-header {
  font-family: harmond;
  font-size: 150px;
}

.image {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 700px;
  filter: brightness(0.5);
  object-fit: cover;
}

.header-italic {
  font-family: harmond-italic;
  font-size: 150px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
